@charset "utf-8";
/* CSS Document */
h2{
	font-size:40px;
	text-align:center;
	padding-top:20px;
	color:#3F0;
}
h3{
	padding-top:20px;
	margin-left:20px;
}
#shang{
	width:1200px;
	border-bottom-color:#999;
	border-bottom-style:solid;
	border-bottom-width:1px;
}
#shangleft{
	width:598px;
	float:left;
	border-right-color:#999;
	border-right-style:solid;
	border-right-width:1px;
}
#shangright{
	width:600px;
	float:right;
}
#xia{
	width:1200px;
	padding-top:20px;
}
